/*LARGE DEVICES*/

@media(min-width: 1300px){
/*	This is working fine*/
}

@media(min-width:768px) and (max-width:1299px){
	.cover-content-container{
		padding: 5%;
	}

	.name-heading{
		font-size: 5em;
	}
	.right-side-container .img{
		width: 60%;
	}
	.image-container::after{
		width: 60%;
		height: 90%;
		top: 10px;
		left: 100px;
	}
	.all-skills-container{
		flex-direction: column;
	}
	.illustration-container{
		display: none;
	}
	.coding-skills{
		margin-right: 1em;
	}
}
/*FOR SMALLER DEVICES()*/
@media(max-width: 767px){
	.mouse-trail{
		display: none;
	}
	.cover-content-container{
		flex-direction: column-reverse;
		padding: 5%;
	}
	.left-side-container{
		margin: 5%;
	}
	.right-side-container .img{
		width: 80%;
	}
	.left-side-container div{
		justify-content: center;
		text-align: center;
	}
	.left-side-container .name-heading{
		font-size: 4em;
		margin-top: 10%;
	}
	.image-container::after{
		width: 80%;
		top: 10px;
		left: 50px;
	}
	.skills-container{
		flex-direction: column;
	}
	.all-skills-container{
		flex-direction: column;
	}
	.section-heading{
		text-align: center;
	}
	.text-content-container{
		text-align: center;
	}

	.techincal-skills-container{
		flex-direction: column;
		text-align: center;
	}
	.coding-skills{
		margin: 2em 0em;
	}
	.illustration-container{
		display: none;
	}

	.footer-content-container{
		flex-direction: column;
	}

	.social-links{
		margin: 1em;
		flex-direction: column;
	}

	.link{
		margin: 1em 0em;
	}

	.links-content-container{
		padding: 10%;
		margin-bottom: 2em;
	}

	.mail-button h4{
		font-size: 1.2em;
	}

	.main-footer{
		flex-direction: column;
		justify-content: space-between;
	}
	.footer-text{
		margin: 0.5em;
	}
}