@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
*{
	margin: 0;
	padding: 0;
}
:root{
	--primary-blue: #0C6DFF;
	--bright-blue: #F5F9FF;
	--text-color: #001F4D;
}
html{
	scroll-behavior: smooth;
	line-height: 2rem;
}
body{
	font-family: 'Inter', sans-serif;
	color: var(--text-color);
	max-width: 1600px;
	margin: auto;
}
h1, h2{
	line-height: 140%;
}
a{
	text-decoration: none;
}
.content-container{
	padding: 60px 160px;
}

/* Text styles */
.text-blue{
	color: var(--primary-blue);
}
.body-text{
	font-size: 18px;
	line-height: 150%;
}


/* Button styles */
.btn{
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	padding: 13px 40px;
	margin-right: 40px;
}

.btn-secondary{
	background: var(--bright-blue);
	border-radius: 10px;
	color: var(--primary-blue);
	border: solid 3px var(--bright-blue);
}

.btn-secondary:hover{
	transition: .2s;
	border: solid 3px var(--primary-blue);
}

.btn-primary{
	background: var(--primary-blue);
	color: var(--bright-blue);
	border: solid 3px var(--primary-blue);
	border-radius: 10px;
}

.btn-primary:hover{
	transition: .2s;
	border: solid 3px var(--primary-blue);
	background: var(--bright-blue);
	color: var(--primary-blue);
}

/* Image styles */
/* .img-responsive{
	max-width: 28vw;
} */

/* Navbar */

nav .left-side-nav{
	padding-top: 10px;
}

nav .content-container{
	background-color: var(--bright-blue);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 160px;
}

nav ul {
	list-style: none;
}
nav ul li{
	margin-right: 2rem;
}
nav ul li:last-child{
	margin: 0px;
}
nav a{
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	color: var(--text-color)
}
nav a:hover{
	color: var(--primary-blue);
	transition: .2s;
}
.navigation-links-container{
	display: flex;
	flex-direction: row;
}
nav .right-side-nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav .menu-icon{
	display: none;
}

nav .other-nav-links{
	display: flex;
	flex-direction: row;
}

/* Hero Section */

#hero-section .content-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hero-heading{
	font-size: 40px;
	font-weight: 600;
	/* max-width: 600px; */
	width: auto;
}

.left-side-hero{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 30px;
}

.right-side-hero{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.hero-button-container{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

/* Work Section */


#work-section .hero-heading{
	margin-bottom: 40px;
}

.card-container-row-one{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.card-container-row-one:last-child{
	margin: 0px;
}

.project-card{
	border-radius: 10px;
	text-align: left;
	margin-right: 20px;
	padding: 30px 40px 0px;
}

.project-image-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.project-card:last-child{
	margin: 0px;
}

.project-card-heading{
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 8px;
}

.sl-website-project{
	background: #EBF7FE;
}

.ready-components-project{
	background: #EEEEF7;
}

.ready-components-project .project-card-link:hover{
	color: #5B58AD;
}

.kasrat-project{
	background: #FFF0E5;
}

.kasrat-project .project-card-link:hover{
	color: #E85D04;
}

.mediplus-project{
	background: #E5F2FF;
}

.mediplus-project .project-card-link:hover{
	color: #007AFF;
}

.project-card-link-container{
	margin: 15px 0px;
}

.project-card-link{
	font-size: 18px;
	font-weight: 500;
	color: var(--text-color);
	margin-right: 20px;
}

#arrow-icon{
	display: inline-block;
}

#arrow-icon{
	transform: rotate(0deg);
	transition: transform .2s ease-in;
}

.project-card-link:hover
#arrow-icon{
	transition: 0.2s ease-in-out;
	transform: rotate(-40deg);
}

.project-card-link:hover{
	color: var(--primary-blue);
}

.project-card .project-image{
	width: 100%;
}

/* Recognition section */

#recognitions-section .hero-heading{
	margin-bottom: 40px;
}

.recognition-card{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 10px;
}
.ready-components-card{
	background: #FDD1E2;
}
.recognition-card-left-side{
	padding: 30px 40px;
}
.recognition-card-right-side img{
	width: 100%;
}
.recognition-card .project-card-link:hover{
	color: #E81778;
}

.recognition-card .project-card-heading{
	max-width: 700px;
}

/* Testimoinals section */
#testimonials-section .hero-heading{
	margin-bottom: 40px;
}

.testimonial-card{
	padding: 30px 40px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-radius: 10px;
	background: var(--bright-blue);
	margin-bottom: 20px;
}

.testimonial-card:last-child{
	margin: 0px;
}

.testimonial-card .testimonial-image{
	width: 250px;
	border-radius: 10px;
}


.testimonial-card-left-side{
	/* padding-left: 40px; */
	display: none;
}

.testimonial-card .designation{
	font-size: 18px;
	color: var(--primary-blue);
	margin-bottom: 16px;
}

.testimonial-card .project-card-heading{
	margin: 0px;
}

.testimonial-card .project-card-link-container{
	margin: 10px 0px;
}

.testimonial-card-upper{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	/* margin-bottom: 10px; */
}

.testimonial-card-upper-right-side{
	margin-left: 20px;
}

.testimonial-image-small{
	width: 60px;
	height: 60px;
	border-radius: 10px;
}

/* Footer section */
.pre-footer{
	background: var(--bright-blue);
}

#contact-section .hero-heading{
	margin-bottom: 20px;
}

.social-link{
	font-size: 30px;
	color: var(--text-color);
	transition: color .2s;
	margin-right: 20px;
}

.social-link:hover{
	color: var(--primary-blue);
	transition: .2s;
}

.social-links-container{
	margin: 40px 0px;
}

.copyrights-footer{
	background: var(--text-color);
	padding: 25px 160px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 300;
}

/* About section */
/* 
#about-section .body-text{
	font-size: 24px;
	line-height: 150%;
} */

#about-section .hero-heading{
	margin-bottom: 40px;
}

#about-section .btn{
	margin-top: 40px;
}