@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
.container{
	padding: 2% 6%;
}

::selection{
	color: var(--dark);
	background-color:var(--yellow);
}
body{
	/* cursor: url('../images/cursor.png'), auto; */
}
#mouse-trail{
	width: 25px;
	height: 25px;
	background-color: var(--yellow);
	opacity: 0.5;
	border-radius: 50%;
	position: absolute;
	display: none;
}
/* VARIABLES */
:root{
	--yellow: #FFBA39;
	--white: #ffffff;
	--dark: #303030;
	--grey: #f2f2f2;

	--section-heading: 3.5em;
	--copy: 2em;
	--button-text: 1.5em;
}
/* VARIABLES */

/* Utilities */
.bg-dark{
	background-color: var(--dark);
}

.bg-grey{
	background-color: var(--grey);
}

.text-yellow{
	color: var(--yellow);
}

.text-dark{
	color: var(--dark);
}

.section-heading{
	font-family: 'Oswald', sans-serif;
	font-size: var(--section-heading);
}

.underline{
	text-decoration: underline;
	text-decoration-color: var(--grey);
}

.underline-yellow{
	text-decoration: underline;
	text-decoration-color: var(--yellow);
}

.text-normal{
	color: var(--dark);
	font-size: var(--copy);
	font-family: 'Open Sans', sans-serif;
}

.text-white{
	color: var(--white);
	font-size: var(--copy);
	font-family: 'Open Sans', sans-serif;
}

.button-text{
	font-size: var(--button-text);
	color: var(--dark);
	text-align: center;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}

.button-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--white);
	margin-right: 2em;
	text-decoration: none;
}
.button{
	background-color: var(--yellow);
	border: none;
	padding: 10px 15px;
	position: relative;
}
.button::before{
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 100%;
	height: 100%;
	border: 1.5px solid var(--white);
}
.button:hover:before{
	transition: .2s;
	top:-2px;
	left: -2px;
}

.button:hover{
	background-color: var(--dark);
}
.button:hover .button-text{
	color: var(--yellow)
}
.bg-yellow{
	background-color: var(--yellow);
}
/* Utilities */


/* Navbar */
/*
	Open Navbar
*/

.open-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
	visibility: hidden;
    transform: scale(2);
    transition: all .3s ease-in-out;
}
.open-nav-active{
	visibility: visible;
	opacity: 1;
    transform: scale(1);
}
.close-navbar{
	text-align: right;
}
.close-navbar:hover{
	color: var(--white);
	transition: .3s;	
}
.navigation-links{
	list-style: none;
}
.navigation-link{
	font-size: 4em;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	margin: 0.5em 0em;
	text-decoration: none;
}

.navigation-link:hover{
	transition: .2s;
	color: var(--white);
}

.left-side-container-navbar{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.location-illustration{
	font-size: 20em;
	opacity: 0.3;
}
/*
	Open Navbar
*/
.navbar-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.logo{
	text-decoration-line: underline var(--white) solid;
	font-family: 'Rock Salt', cursive;
	user-select: none;
}
.hamburger{
	padding: 5px;
}
.button:hover .hamburg-line{
	background-color: var(--yellow);
}

.hamburg-line{
	width: 25px;
	height: 4px;
	background-color: var(--dark);
	display: block;
	margin: 5px;
}
/* Navbar */

/* Hero section */
.text-slider-items{
	display: none;
}

.text-slider::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.quote-container{
	padding: 2em;
	text-align: center;
}
.quote{
	font-family: 'Oswald', sans-serif;
	font-style: italic;
	font-size: 1.8em;
	color: var(--dark);
}
.cover-content-container{
	display: flex;
	flex-direction: row;
}

.left-side-container{
	flex: 1;
}
.right-side-container{
	flex: 1;
}
.name-heading{
	font-size: 10em;
	line-height: 1em;
}
.role-text-container{
	margin: 5% 0%;
}
.button-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}


.right-side-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.img{
	width: 75%;
}
.image-container{
	text-align: center;
	position: relative;
}
.image-container::after{
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	left: 105px;
	width: 75%;
	height: 100%;
	border: 2px solid var(--yellow);
}
/* Hero section */

/* ABOUT ME SECTION */
.text-content-container{
	margin: 2em 0em;
	padding: 0em 2em;
	user-select: var(--yellow);
}
.all-skills-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.skills-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.skill{
	margin: 2em 4em;
	text-align: center;
}

#about-me-section{
	overflow: hidden;
}

/* ABOUT ME SECTION */

/* SKILLS SECTION */

.techincal-skills-container{
	display: flex;
	flex-direction: row;
	padding: 5%;
	justify-content: space-around;
}	

.technical-skill-heading{
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.technical-skill-list{
	list-style-image: url('../images/liststyle.png');
	list-style-position: inside;
	margin-top: 1.2em;
}

.skill-list-item{
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	margin: 0.5em 0em;
}
.illustration-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.illustration{
	font-size: 20em;
	padding: 0;
	margin: 0;
	opacity: 0.5;
}
/* SKILLS SECTION */

/* PROJECTS SECTION */
.project-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.project{
	text-align: center;
	padding: 2%;
	text-decoration: none;
	margin: 0.5em 0em;
}
.project:hover{
	background-color: var(--yellow);
	transition: .3s;
}
.project-image{
	margin: 1em;
	width: 90%;
}
.project-name{
	font-size: 1.5em;
}	
.project-tech{
	margin: 0;
	font-size: 1.3em;
	font-weight: 300;
}
/* PROJECTS SECTION */

/* FOOTER SECTION */

.heading-container{
	margin: 2em 0em;
}

.links-content-container{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.social-links{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
}
.mail-button{
	align-self: center;
	margin: 2%;
}
.mail-button .button::before{
	border:solid 2px var(--dark);
}
.mail-button .button:hover>h3{
	color: var(--white);
}
.mail-button-link{
	text-decoration: none;
	color: var(--dark);
	font-weight: normal;
}
.mail-button-link h4{
	font-weight: normal;
}
.social-links-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.social-links{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.link{
	display: inline-block;
	padding: 2%;
	margin: 0em 2em;
	text-decoration: none;
	color: var(--dark);
}

.link:hover{
	transition: .3s;
	background-color: var(--yellow);
}
.main-footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.footer-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	color: var(--white);
	font-weight: 100;
	margin: 0em 2em;
}

/* FOOTER SECTION */

