@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*{
	margin: 0;
	padding: 0;
}
.container{
	padding: 2% 6%;
}

::selection{
	color: var(--dark);
	background-color:var(--yellow);
}
body{
	/* cursor: url('../images/cursor.png'), auto; */
}
#mouse-trail{
	width: 25px;
	height: 25px;
	background-color: var(--yellow);
	opacity: 0.5;
	border-radius: 50%;
	position: absolute;
	display: none;
}
/* VARIABLES */
:root{
	--yellow: #FFBA39;
	--white: #ffffff;
	--dark: #303030;

	--section-heading: 3.5em;
	--copy: 2em;
	--button-text: 1.5em;
}
/* VARIABLES */

/* Utilities */
.bg-dark{
	background-color: var(--dark);
}

.text-yellow{
	color: var(--yellow);
}

.text-dark{
	color: var(--dark);
}

.section-heading{
	font-family: 'Oswald', sans-serif;
	font-size: var(--section-heading);
}

.underline{
	text-decoration: underline;
	text-decoration-color: var(--white);
}

.text-normal{
	color: var(--white);
	font-size: var(--copy);
	font-family: 'Open Sans', sans-serif;
}

.button-text{
	font-size: var(--button-text);
	color: var(--dark);
	text-align: center;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}

.button-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--white);
}
.button{
	background-color: var(--yellow);
	padding: 10px 15px;
	position: relative;
}
.button::before{
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 100%;
	height: 100%;
	border: 1.5px solid var(--white);
}
.button:hover:before{
	transition: .2s;
	top:-1px;
	left: -1px;
}

.button:hover{
	background-color: var(--dark);
}
.button:hover .button-text{
	color: var(--yellow)
}
.bg-yellow{
	background-color: var(--yellow);
}
/* Utilities */


/* Navbar */
.navbar-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.logo{
	text-decoration-line: underline var(--white) solid;
	font-family: 'Rock Salt', cursive;
	user-select: none;
}
.hamburger{
	padding: 5px;
}
.button:hover .hamburg-line{
	background-color: var(--yellow);
}

.hamburg-line{
	width: 25px;
	height: 4px;
	background-color: var(--dark);
	display: block;
	margin: 5px;
}
/* Navbar */

/* Hero section */
.quote-container{
	padding: 2em;
	text-align: center;
}
.quote{
	font-family: 'Oswald', sans-serif;
	font-style: italic;
	font-size: 1.8em;
	color: var(--dark);
}
.cover-content-container{
	display: flex;
	flex-direction: row;
}

.left-side-container{
	flex: 1;
}
.right-side-container{
	flex: 1;
}
.name-heading{
	font-size: 10em;
	line-height: 1em;
}
.role-text-container{
	margin: 5% 0%;
}
.button-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.right-side-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.img{
	width: 75%;
}
.image-container{
	text-align: center;
	position: relative;
}
.image-container::after{
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	left: 105px;
	width: 75%;
	height: 100%;
	border: 2px solid var(--yellow);
}
/* Hero section */

/* ABOUT ME SECTION */
.text-content-container{
	margin: 2em 0em;
	padding: 0em 2em;
	user-select: var(--yellow);
}
.all-skills-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.skills-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.skill{
	margin: 2em 4em;
	text-align: center;
}

#about-me-section{
	overflow: hidden;
}

/* ABOUT ME SECTION */

/* FOOTER SECTION */

.heading-container{
	margin: 2em 0em;
}

.links-content-container{
	background-color: var(--white);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.social-links{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
}
.mail-button{
	align-self: center;
	margin: 2%;
}
.mail-button .button::before{
	border:solid 2px var(--dark);
}
.mail-button .button:hover>h3{
	color: var(--white);
}
.mail-button-link{
	text-decoration: none;
	color: var(--dark);
	font-weight: normal;
}
.mail-button-link h4{
	font-weight: normal;
}
.link{
	padding: 1%;
	text-decoration: none;
	color: var(--dark);
}

.link:hover{
	transition: .3s;
	background-color: var(--yellow);
}
.main-footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.footer-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	color: var(--white);
	font-weight: 100;
	margin: 0em 2em;
}

/* FOOTER SECTION */

